<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EmberDatabaseConnectionString" connectionString="Data Source=LAPTOP-CIDFKFS1;Initial Catalog=EmberTimeSheetsDatabase;Persist Security Info=True;User ID=main;Password=dominic62;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
        <add name="Ember.Properties.Settings.EmberDatabaseConnectionString"
            connectionString="Data Source=LAPTOP-CIDFKFS1;Initial Catalog=EmberTimeSheetsDatabase;Persist Security Info=True;User ID=main;Password=dominic62;MultipleActiveResultSets=true" />
    </connectionStrings>
</configuration>